{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h1 style="margin-top: 10px;">Detalle de {{ entrada.titulo }}</h1>
<hr/>
        <p class="float-left"><img width="290" src="{{ asset("uploads/"~entrada.imagen) }}"/></p>
        <p style="margin-left: 300px;"><strong>Título: </strong>{{ entrada.titulo }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Estado: </strong>{{ entrada.estado }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Categoría: </strong>{{ entrada.categoria.nombre }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Autor: </strong>{{ entrada.usuario.nombre }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Etiquetas: </strong>
            {% for ent in entrada.entradaEtiqueta %}
                {{ ent.etiqueta.nombre }}
            {% endfor %}
        </p><hr/>
        <p style="margin-left: 300px;"><strong>Contenido: </strong>{{ entrada.contenido }}</p><hr/>

        {% if (app.user.id is defined) and (entrada.usuario.id == app.user.id) %}
            <p style="margin-left: 10px;">
                <a class="btn btn-danger btn-lg"
                   href="{{ path("blog_delete_entrada",{"id":entrada.id }) }}">{{ "btn_delete" | trans }}</a>
                <a class="btn btn-warning btn-lg" href="{{ path("blog_edit_entrada",{"id":entrada.id }) }}">
                    {{ "btn_edit" | trans }}
                </a>
            </p>
        {% endif %}

        <div class="clearfix"></div>
    </div>

{% endblock %}